@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-6 .navbar-toggler {
  color: #ffffff;
}
#slider-1 P {
  color: #ffffff;
}
#slider-1 H1 {
  color: #ffffff;
}
#gallery1-2 SMALL {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article P {
  color: #ffffff;
}
#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-7 .navbar-toggler {
  color: #ffffff;
}
#form1-l .mbr-header__text {
  color: #ffffff;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-m .navbar-toggler {
  color: #ffffff;
}
#header3-2r H3 {
  color: #000000;
}
#header3-2r I {
  color: #e25041;
}
#header3-1y H3 {
  color: #000000;
}
#header3-1y I {
  color: #e25041;
}
#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #333333;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-o .navbar-toggler {
  color: #ffffff;
}
#header3-2b H3 {
  color: #303541;
}
#header3-2b I {
  color: #4c6972;
}
#header3-2d H3 {
  color: #000000;
}
#header3-2d I {
  color: #4c6972;
}
#dropdown-menu-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-q .nav .link,
#dropdown-menu-q .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-q .navbar,
#dropdown-menu-q .dropdown-menu {
  background: #333333;
}
#dropdown-menu-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-q .dropdown-menu a:hover,
#dropdown-menu-q .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-q .navbar-toggler {
  color: #ffffff;
}
#header3-23 H3 {
  color: #000000;
}
#header3-23 I {
  color: #e25041;
}
#header3-28 H3 {
  color: #000000;
}
#header3-28 I {
  color: #e25041;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #333333;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-s .navbar-toggler {
  color: #ffffff;
}
#header3-32 H3 {
  color: #f97352;
}
#header3-32 I {
  color: #e25041;
}
#header3-33 H3 {
  color: #f97352;
}
#header3-33 I {
  color: #e25041;
}
#header3-2s H3 {
  color: #000000;
}
#header3-2s I {
  color: #e25041;
}
#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #333333;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-u .navbar-toggler {
  color: #ffffff;
}
#header3-31 H3 {
  color: #f97352;
}
#header3-31 I {
  color: #e25041;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-w .navbar-toggler {
  color: #ffffff;
}
#header3-3d H3 {
  color: #f97352;
}
#header3-3d I {
  color: #e25041;
}
#header3-3c H3 {
  color: #f97352;
}
#header3-3c I {
  color: #e25041;
}



#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-11 .navbar-toggler {
  color: #ffffff;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#content5-13 .mbr-article P {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#form1-14 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}


#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-article P {
  text-align: center;
}
#form1-1a .mbr-header__text {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1f .nav .link,
#dropdown-menu-1f .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1f .navbar,
#dropdown-menu-1f .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1f .dropdown-menu a:hover,
#dropdown-menu-1f .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1f .navbar-toggler {
  color: #ffffff;
}
#header3-1z H3 {
  color: #000000;
}
#header3-1z I {
  color: #e25041;
}
#header3-20 H3 {
  color: #000000;
}
#header3-20 I {
  color: #e25041;
}
#dropdown-menu-3g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3g .nav .link,
#dropdown-menu-3g .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-3g .navbar,
#dropdown-menu-3g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3g .dropdown-menu a:hover,
#dropdown-menu-3g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3g .navbar-toggler {
  color: #ffffff;
}
#msg-box5-3j .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3j .mbr-article {
  color: #ffffff;
}
#msg-box5-3p .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3p .mbr-article {
  color: #ffffff;
}
#msg-box5-3q .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3q .mbr-article {
  color: #ffffff;
}
#msg-box2-3n .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3n .mbr-article {
  color: #252525;
}
